{
  "prestador": {
    "cpf_cnpj": "00000000000191",
    "inscricao_municipal": "12345678"
  },
  "num_nf": "0000001234",
  "serie_rps": "00001",
  "referencia": "08/2026",
  "data_emissao": "31/08/2026",
  "data_vencimento": "31/08/2026",
  "c_loc_emi": "1234567",
  "natureza_operacao": 1,
  "tomador": {
    "cpf": "12345678809",
    "nome": "FULANO DE TAL",
    "email": "email@exemplo.com",
    "endereco": {
      "logradouro": "RUA HUM",
      "numero": "2",
      "complemento": "CASA",
      "cep": "10000-100",
      "bairro": "BAIRRO",
      "cidade": "1234567",
      "uf": "AM"
    }
  },
  "aluno": "CICLANO DE TAL",
  "servicos": [
    {
      "descricao": "MENSALIDADE DO CURSO",
      "valor": 100.0,
      "desconto": 0,
      "deducoes": 0,
      "iss_retido": false,
      "base_iss": 100.0,
      "aliq_iss": 0.05,
      "valor_iss": 50.00,
      "observacao": "REF. A PARCELA 08/2026, VENC 31/08/2026, ALUNO CICLANO DE TAL, TURMA 9ANO.",
      "c_trib_nac": "08.02.01",
      "c_trib_mun": "100",
      "c_nbs": "1.2205.20.00"
    }
  ],
  "ibscbs": {
    "fin_nfse": "0",
    "ind_final": "1",
    "c_ind_op": "100301",
    "ind_dest": "0",
    "trib": {
      "cst": "000",
      "c_class_trib": "000001"
    }
  }
}
